<!doctype html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
 <div class="navbar-side">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-tabs" role="tablist">
          <li role="presentation"><a href="/anime_index">Home</a></li>
          <li role="presentation"><a href="video">Tokyo Ghoul Episodes</a></li>
          <li role="presentation"><a href="/anime_photo_gallery">Photo Gallery</a></li>
        </ul>
        </div>
  </div>
        
         <div class="jumbotron">
      <img src="http://www.carlascovers.com/covers-images/download/cute_chibi.jpg"> 
        <h1>Anime</h1>
        <p class="lead">Welcome to the Anime World. :) Where everything is crazy and insane. There are many people that do not know what anime is and if you are one of those people who is asking what is anime well dont worry this is why I am here to tell you what anime is. Anime is a japanese style of cartoon. It is very popular in Japan and is becoming popular in the United States as well. Anime original language is japanese but there are sub titles under neath in english or any other language that you speak under neath for you to be able to understand what they are saying. There is also english dub for those of you who do not like reading and prefer to listen to it in english. </p>
    <div class="row 2">
        <div class="col-md-12"></div>
      </div>
    </div>
 <div class="row 3">
   <div class="about">
      
      </div>


</body>

</html>