<!DOCTYPE html>
<html>
  <head><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-tabs" role="tablist">
          <li role="presentation"><a href="/anime_index">Home</a></li>
          <li role="presentation"><a href="video">Anime Videos</a></li>
          <li role="presentation"><a href="/anime_photo_gallery">Photo Gallery</a></li>
             <div class="jumbotron">
   <center><h2>Tokyo Ghoul</h2></center>
 <iframe src="//player.vimeo.com/video/106649491" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106649491">[PA] Tokyo Ghoul - 01 (HDTV)</a> from <a href="http://vimeo.com/user32485360">Hayato Kazuki</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </body>
</html>