<!doctype html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
 <div class="navbar-side"><body background ="http://www.vectorbg.net/wp-content/uploads/2012/04/rainbow-curve-background.jpg">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-tabs" role="tablist">
          <li role="presentation"><a href="index.html">Home</a></li>
          <li role="presentation"><a href="video.html">Video</a></li>
          <li role="presentation"><a href="photo_gallery.html">Photo Gallery</a></li>
          <li role="presentation"><a href="store.html">Anime Websites</a></li>
        </ul>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
         <div class="jumbotron">
      <img src="http://imagesci.com/img/2013/04/dark-anime-wallpaper-widescreen-8939-hd-wallpapers.jpg"> 
        <h1>Anime</h1>
        <p class="lead">Welcome to the Anime World. :) Where everything is crazy and insane. </p>
    <div class="row 2">
        <div class="col-md-12"></div>
      </div>
    </div>
 <div class="row 3">
   <div class="about">
        <div class="col-md-12">About Anime</div>
        </div>
              <p>Many who do not know about anime ask What is anime? and I am pretty sure that you are asking the same question. Well dont worry this is why I am here to tell you what anime is. Anime is a japanese style of cartoon. It is very popular in Japan and is becoming popular in the United States as well. Anime is in japanese but there are sub titles </p>
      
      </div>


</body>

</html>