<!doctype html>
<html>
<head>
<style>
 body {
  background: url(http://wallpapersinhq.com/images/big/cherry_tree-1464221.jpg);
 }
  .stage img {

      height: 250px;
      width: 250px;
    }

  
    </style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">
<script type='text/javascript' src='script.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
</head>
<body class="collage">
 <div class="navbar-side">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-tabs" role="tablist">
          <li role="presentation"><a href="/anime_index">Home</a></li>
          <li role="presentation"><a href="video">Tokyo Ghoul Episodes</a></li>
          <li role="presentation"><a href="/anime_photo_gallery">Photo Gallery</a></li>
        <li role="presentation"><a href="/collage">Collage</a></li>

        </div>
  </div>
        
         <div class="stage">
           <h1>Anime</h1>
      <div id="char1"><img src="http://i4.photobucket.com/albums/y114/ccann/artwork%20posts/izaya-stomp.gif"></div>
      <div id="char2"><img src="http://fc05.deviantart.net/fs70/f/2013/348/a/e/user_pixel_chibi_gif_by_noelias6naomi-d6xy5wp.gif"></div>
      <div id="char3"><img src="http://33.media.tumblr.com/55faa39127523b782ff13938ec20521b/tumblr_mt5g2aMV2W1scubn7o3_250.gif"></div>
      <div id="char4"><img src="http://i966.photobucket.com/albums/ae147/fwddd/fynnchibi3.gif"></div>
        
       
    <div class="row 2">
        <div class="col-md-12"></div>
      </div>
    </div>
 <div class="row 3">
   <div class="about">
      
      </div>


</body>

</html>