<!DOCTYPE html>
<html>
  <head><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/styles3.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-tabs" role="tablist">
          <li role="presentation"><a href="/anime_index">Home</a></li>
          <li role="presentation"><a href="video">Tokyo Ghoul Episodes</a></li>
          <li role="presentation"><a href="/anime_photo_gallery">Photo Gallery</a></li>
          <li role="presentation"><a href="/collage">Collage</a></li>
             <div class="jumbotron">
   <center><h2>Tokyo Ghoul Season 1 All Episodes</h2></center>
 <iframe src="//player.vimeo.com/video/106649491" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106649491">[PA] Tokyo Ghoul - 01 (HDTV)</a> from <a href="http://vimeo.com/user32485360">Hayato Kazuki</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
 <iframe src="//player.vimeo.com/video/103721928" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/103721928">Tokyo Ghoul Episode 2</a> from <a href="http://vimeo.com/user31231334">slacker</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
 <iframe src="//player.vimeo.com/video/104067507" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/104067507">Tokyo Ghoul Episode 3</a> from <a href="http://vimeo.com/user31231334">slacker</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=10043bb3e5999eb1&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876016&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=50240FF09A3EA0D5F1FC6FE22748657776B29742.12BD6D4DB095D82850B403AE03FCE2DF1CC32542&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872253&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=10043bb3e5999eb1&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876016&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=7F478347C838F857254EE62A0160C8AA6FB6C9CB.1897C7DE8680775BE8D10CE5E4351B95C4276A63&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872253&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=10043bb3e5999eb1&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876016&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=8AA4BD80A236F3036B9694B9172C6979F259F0BC.9DA600E9C17E47A3A7116784235EE7236E0EF458&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872253&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

<video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=f4d0eb31106ca80b&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876101&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=71B6AD93EFBD0492C2E5AB1022211E0C47E8A45D.ABA773BF821D4671BBDD47E412770BEEAE8574DF&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872253&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=f4d0eb31106ca80b&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876101&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=76D51BBF4C1708574CAA3817FD41943273C4C70F.5E6F6553C8A889AE823D0AA8A38143CD05EB6D9D&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872253&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=be1bfe86a14a4862&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876124&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=52CC194FD4FC8CF97666E64885200C898FB5D2AA.AFEBF6FA2C27EA594734755D6AF5EE6478E0408F&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=be1bfe86a14a4862&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876124&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=777827EDE567D81416598B318A66CD84A1D62609.5BC0F92AA4252BBE5F5F1F8AC1688CC1F28F4E93&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=be1bfe86a14a4862&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876124&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=6CAFF91885AFACBD6888AB85F0F508351AC0F497.6528AA379ABC29CD61313F0D1154809971591BCA&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=018a4bdd4db2626d&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876143&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=F3761C79EDB04D3D5DA6CC278AA5A8D0EF1A760.8FBF308B5E1C950022DFE3AC568E8A459D93CF7D&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=018a4bdd4db2626d&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876143&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=545F2B0484BBDBDDEEC37880854884EB41BEC8B1.30379C6388D5BA92B83A3EF10FD58B05EB33241D&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=018a4bdd4db2626d&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876143&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=8C8C60C6719A84C03932834A31C7E25914E38489.3F0BE98A4A5AA691839BE4847A1EB7F836C7F03A&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=4802f1085e7e939d&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876159&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=780179EB0EF82A014D34BC0A64C595F9B2823ABE.177C6BBC1F39D09A224B58E0322D67E61DE1824A&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=4802f1085e7e939d&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876159&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=243CCF152583E648483908CB2DD85D0F30A7EB.4BA8D94FE542561A92435768A6C054B58DF3016D&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=937c13903cec82af&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876175&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=7924FEB8BE0D4333D7773ED10F02116964B86713.39D211E29D3AF965DE1352ABF0164C40FFD543EC&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=937c13903cec82af&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876175&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=610A2CF333DC4EE1AF885C51621E2402354ED2EF.93DB7EF06EFAB41CA9432FA16DE92EDE70F67E6&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=937c13903cec82af&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876175&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=1FAB4308C65D91C161B009C107FA6BD0B0FC9DEB.6541DB9CBB92969316AA6EFB12FA14D02109743E&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=0a0a2daa79a7d1d5&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876192&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=776E69808629F1453BFEC391E1E39C6E25A5383D.7F5C57C41DD3520314AB08F5FF2615BCC3C66B1D&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=0a0a2daa79a7d1d5&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876192&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=85A541F9E9F724ADBBA23118184750EDFF732689.1A67241BAF261BA4973D875EE5B1468454C6DA98&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=0a0a2daa79a7d1d5&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876192&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=527A5EC59DDCA81251656DC4CC37008D415177AC.3CC1769402759030502C32B41B4F8959463E50B6&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=23f1e985981cf46a&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876206&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=4C5A26084A556A26A8E2FA391804813D3C16E42F.947699B1254CB21A4FD74F94F2405CD9E6CB52B7&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=23f1e985981cf46a&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876206&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=AF9AAF165884BB63BD5DE32A33E55184F7378CD0.ADE2246930984143F47C1136B280673247A7BE83&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=23f1e985981cf46a&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876206&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=58A6554317188C34859A9BD5C350D7DD501E8169.892C200D27210BBE5E0D8988D4C5B02A91720E8B&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=a177f0eb65c69e51&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876259&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=7896069809DA7957C92C31D6EC43818DCA67E62A.2D91B0599D0D7432E5F56D9BC33C1329E4691C4&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=a177f0eb65c69e51&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876259&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=1E088411C9F4D5BA640D1365041FD0F922F43940.1A4A6C4E3CD99062374E6C804A37F4EC79DD0B9&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=a177f0eb65c69e51&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421876259&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=4253C03F86637605E3E8574430A8F9150382D243.6F2BB1CC66BE3B47EE09DAF151DD1336D7D877F0&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421872501&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>


<center><h2>Tokyo Ghoul Season 2</h2></center>
 <iframe src="//player.vimeo.com/video/116263783" width="500" height="284" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/116263783">[HorribleSubs] Tokyo Ghoul Root A - 01 eng sub [480p]</a> from <a href="http://vimeo.com/user36155206">alma011</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
 <p> I cannot find season 2 episode 2 but it is online that is the latest episode. Season 2 is ongoing it is a new season that came out this year.</p><p>Tokyo Ghoul 4-12 </a> from <a href="http://animetako.me/">Animetako.me</a> on <a href="http://animetako.me">Animetako.me</a>This video is not mine it belongs to the rightful owner animetako.me</p>
    </body>
</html>