<!DOCTYPE html>
<html>
  <head><!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/styles3.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-tabs" role="tablist">
          <li role="presentation"><a href="/anime_index">Home</a></li>
          <li role="presentation"><a href="video">Tokyo Ghoul Episodes</a></li>
          <li role="presentation"><a href="/anime_photo_gallery">Photo Gallery</a></li>
             <div class="jumbotron">
   <center><h2>Tokyo Ghoul Season 1 All Episodes</h2></center>
 <iframe src="//player.vimeo.com/video/106649491" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/106649491">[PA] Tokyo Ghoul - 01 (HDTV)</a> from <a href="http://vimeo.com/user32485360">Hayato Kazuki</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
 <iframe src="//player.vimeo.com/video/103721928" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/103721928">Tokyo Ghoul Episode 2</a> from <a href="http://vimeo.com/user31231334">slacker</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
 <iframe src="//player.vimeo.com/video/104067507" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/104067507">Tokyo Ghoul Episode 3</a> from <a href="http://vimeo.com/user31231334">slacker</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


<video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=10043bb3e5999eb1&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758742&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=6A61D3B5B84C627A0E511A0B47EAB4BEA8DBB396.319C1E0A5DD42E6536B4181E1F6B0379A2C18337&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421755062&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=10043bb3e5999eb1&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758742&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=5570BA4AD1005651697F9880A2228F48FEADE8F.3EFE277428315B683DE69E4C295D018F3ECE6957&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421755062&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=10043bb3e5999eb1&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758742&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=A761A959266927C4BC55D0CE20AC3FBF990A0C54.BA68FF7064C48EE30DC8D28C6E99CEA50C584C7B&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421755062&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>

      
        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=f4d0eb31106ca80b&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758404&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=82D1954028D978D722F27391C0D260B00960F0C7.2DD4911E65A2573B268DC4861DF0AA39541D982&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=f4d0eb31106ca80b&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758404&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=7CBC46C4DF71B7E1B770418B87AED5A0E22973EA.EB907D456173BF40C065E1FEB005A46CADF1781&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>
        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=be1bfe86a14a4862&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758424&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=218A942CE3C4053CAFAAFD38DC76B0D7348CC62C.603B65BC8ECBB54C0211570B62C68866DBBC748A&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=be1bfe86a14a4862&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758424&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=7FDECCF440923F3EB055039AB285E0495A336F51.88BD3AE96A4BADF702AD393C3DB0C79EB4F12B2B&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=be1bfe86a14a4862&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758424&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=10BFFAF103AAEAF9C26B81D384D987113F7DCB25.3A7E12760D820FC0BA68BADD1AD86E49F626687D&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>
        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=018a4bdd4db2626d&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758443&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=5588D4BFE7CFF8365FF381B53291E7D9C160D2CF.780D59115243463EC0967E3A8395EB1DBD4E8025&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=018a4bdd4db2626d&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758443&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=77FB54AC72728B634310D433F5DB1406AE58FC45.299DE2AE4BF418EBD5ACBE4A2B8166A884283695&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=018a4bdd4db2626d&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758443&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=B80A2F66C2C29798E1BE55AE281FA0C1A5A7CF3D.1400A4E891E761B6E0D8776BF215DDD639710369&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>
        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=4802f1085e7e939d&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758464&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=B29CA9291FB0BAE59C176C63B2C74F5D36FAFA0.DD1F4978065DA87BE829A5291F1B6CACFBC24C&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=4802f1085e7e939d&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758464&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=98C577B0B7BD2E040FE61D2BC38D568746BC79D1.4B8F91D06BF6B01DBBA17C26158F89D5262294AD&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>
        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=937c13903cec82af&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758480&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=6470574B4125747276350E00FBF6A19B348BC512.3AD6E6E1DD4827EC34E72862D658DCCBC999C537&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=937c13903cec82af&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758480&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=27094EDD930206E97D9D22DEB5EF2C0728967355.518F8DFCECA67CA9DFF15157F79295501AFD1484&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=937c13903cec82af&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758480&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=337C34D05676CCFA57DACA8302EC924986ECE091.8AEB46E70F114B11F2D45308801B2E3D2A28E6A5&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>
        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=0a0a2daa79a7d1d5&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758500&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=AEB138E5B401540411855D81427A6CA6F9C0A3EF.8C1D7B17D76CA02DBB244E3D508FB2E71F18FDC3&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=0a0a2daa79a7d1d5&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758500&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=3D2D54549BF0459A0DD29661ED543870AC5EC2B1.5D2E57432B06B0562A5D74E4F822CEB45306B470&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=0a0a2daa79a7d1d5&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758500&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=9DEBAA7C8EBBF34FE49168EF553D82BB3CC1C23.9700623ADD501F91E63C8B567E073033A4D4695C&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>
        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=23f1e985981cf46a&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758518&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=8C63F3F44C3C70C1646518941AA1ED82D718BE2A.A151CBCCA86ED4EC923D137CFAA17D59D9D85061&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=23f1e985981cf46a&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758518&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=8EEBC3FDD1A67752DE8C276F9FF320CC3AA1A5D6.42BB70054342143111124C7DC7B5ADB7B9EDCD71&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=23f1e985981cf46a&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758518&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=867D16F2CC9A87DF6EA9398F0439DEA872299BFE.1049EF49EBEFFCC8A54773FF40CA3CFEC19E0435&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>
        <video id="my_vid" class="video-js vjs-default-skin" controls="" preload="auto" width="854" height="511" data-setup="{}">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=a177f0eb65c69e51&amp;itag=22&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758541&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=5D872693180363FAB2C0AA6FE12470E8D19B2ACD.98B97E1DE529BB101C454920C820D51E9C0178&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/mp4">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=a177f0eb65c69e51&amp;itag=43&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758541&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=566BFCEEF79F7411429995192DAA78F592112728.532FE424C0CCAD2AB6AFFA7B52D4BE2A49E8C732&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/webm">
            <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;shardbypass=yes&amp;cmbypass=yes&amp;id=a177f0eb65c69e51&amp;itag=35&amp;source=webdrive&amp;app=docs&amp;ip=89.248.172.232&amp;ipbits=0&amp;expire=1421758541&amp;sparams=requiressl,shardbypass,cmbypass,id,itag,source,ip,ipbits,expire&amp;signature=8E8EB088475A4124C8E35A96AB811D93A7F43002.1F22E0CC20F0ACC351387AF852765CAFE18FF088&amp;key=ck2&amp;mm=30&amp;ms=nxu&amp;mt=1421754719&amp;mv=u&amp;pl=26" type="video/x-flv">
        </video>






<center><h2>Tokyo Ghoul Season 2</h2></center>
 <iframe src="//player.vimeo.com/video/116263783" width="500" height="284" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/116263783">[HorribleSubs] Tokyo Ghoul Root A - 01 eng sub [480p]</a> from <a href="http://vimeo.com/user36155206">alma011</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
 <p> I cannot find season 2 episode 2 but it is online that is the latest episode. Season 2 is ongoing it is a new season that came out this year.</p><p>Tokyo Ghoul 4-12 </a> from <a href="http://animetako.me/">Animetako.me</a> on <a href="http://animetako.me">Animetako.me</a>This video is not mine it belongs to the rightful owner animetako.me</p>
    </body>
</html>