
    .row 1 {
      background: yellow;
      height: 400px;
      text-align: center;
    }
    
    .row 2 {
      height: 400px;
      background: red;
    }
    
    . row 3 {
      height: 200px;
      background: green;
      transition: all 2s;
    }
    h1 {
     text-align: center;
      font-weight: bold;
    }
    img {
     width: 700px;
     border-top: 1px solid #e5e5e5;
    }
    
    .about {
     font-weight: bold; 
    }
    .jumbotron {
      opacity: 0.7;
    }
     body {
      background-image: url("http://i.ytimg.com/vi/pPUefEnkM9Y/maxresdefault.jpg");
    }
      .collage{
        background: url(https://a1-images.myspacecdn.com/images03/29/df0049921b87408e96a1ea8becc45b48/full.jpg);
      }