.row 1 {
      background: yellow;
      height: 400px;
      text-align: center;
    }
    
    .row 2 {
      height: 400px;
      background: red;
    }
    
    . row 3 {
      height: 200px;
      background: green;
      transition: all 2s;
    }
    h1 {
     text-align: center;
      font-weight: bold;
    }
    img {
     width: 700px;
     border-top: 1px solid #e5e5e5;
    }
    
    .about {
     font-weight: bold; 
    }
    .jumbotron {
      opacity: 0.7;
    }
    
   
     







     body {
      background-image: url("http://static.tumblr.com/857135ec8b5c67fab6c82047d9ffea30/f81w82v/AVzne3fa4/tumblr_static_3qrje5gen2yoogwc80480ksw0.jpg");
    }");
    }